/* Helpers */

.small {
    max-width: 600px;
}

time,
.meta {
    color: var(--light-font-color);
    font-size: 0.85rem;
    white-space: nowrap;
    font-weight: 400;
}

.meta {
    color: var(--medium-font-color);
    font-size: 1rem;
}