/* Grid and flex */

.flex {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .flex-row {
    flex-direction: row;
  }
}

.flex-col {
  flex: 1;
}

.flex-two-thirds {
  flex: 2;
}

.justify-center {
  justify-content: center;
}