/* Tables */

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

thead,
tbody {
    white-space: nowrap;
}

th {
    border-bottom: 2px solid var(--border);
}

tfoot th {
    border-top: 1px solid var(--border);
}

td {
    border-bottom: 1px solid var(--border);
}

th,
td {
    text-align: left;
    padding: 0.75rem;
    hyphens: auto;
}

tbody tr:nth-child(even) {
    background-color: var(--light-background);
}

@media screen and (min-width: 800px) {
    table {
        display: table;
        border: 1px solid var(--border);
    }

    thead,
    tbody {
        white-space: normal;
    }
}